<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOLA</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header class="container opacity-1 bg-black py-3">
        <div>
            <div class="flex justify-between abso place-items-stretch">
                <a href="https://www.adhamdannaway.com/">
                    <img src="../img-Adri-Iglesias/loader.png" alt="">Adham Dannaway</a>
                <nav class="box-border">
                    <ul class="text-white">
                        <li>
                            <a href="https://www.adhamdannaway.com/about">about</a>
                        </li>
                        <li>
                            <a href="https://www.adhamdannaway.com/ui-design-book">book</a>
                        </li>
                        <li>
                            <a href="https://www.adhamdannaway.com/portfolio">portfolio</a>
                        </li>
                        <li>
                            <a href="https://www.adhamdannaway.com/portfolio">portfolio</a>
                        </li>
                        <li>
                            <a href="https://www.adhamdannaway.com/contact">contact</a>
                        </li>
                        <li>
                            <ul id="social" class="box-border">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <script>
        tailwind.config = {
          theme: {
            extend: {
              colors: {
                clifford: '#da373d',
              }
            }
          }
        }
      </script>
</body>
</html>