<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOLA</title>
    <link rel="stylesheet" href="../css/tailwind.css">
</head>
<body>
    <header class="container opacity-1 bg-black py-3">
        <div class="row">
            <div class="col-span-12">
                <a href="https://www.adhamdannaway.com/">Adham Dannaway</a>
                <nav class="box-border">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li>
                            <ul id="social" class="box-border">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
</body>
</html>